<div class="wrapper wrapper-full-page " style="background-color: #f4f3ee;">
    <div class="full-page section-image">
        <div class="content">
            <div class="container">
                <div class="col-lg-12 col-md-12 ml-auto mr-auto">
                    <div class="card card-login">
                        <div class="card-header">
                            <div class="card-header">
                                <a (click)="genSrv.goBack()" class="text-success" style="cursor: pointer;"> &#60;&#60;
                                    GoBack
                                </a>
                                <h3 class="header text-center">REQRES USERS LIST</h3>
                            </div>
                        </div>
                        <div class="card-body">
                            <div style="border-bottom: 3px solid black;">
                                <div class="row">
                                    <div class="col-md-1">
                                        <div>
                                            <span class="detail-top">Avatar</span>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <span class="detail-top ">First Name</span>

                                    </div>
                                    <div class="col-md-4">
                                        <span class="detail-top ">Last Name</span>

                                    </div>
                                    <div class="col-md-3">
                                        <span class="detail-top ">Email</span>

                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="row" *ngFor="let item of tableData; let i = index">
                                    <div class="col-md-1">
                                        <div>
                                            <img src="{{item.avatar}}" class="target-user-avatar rounded-circle" width="40px" alt="">
                                        </div>
                                    </div>
                                    <div class="col-md-4">

                                        <span class="detail">{{item.first_name}}</span>
                                    </div>
                                    <div class="col-md-4">

                                        <span class="detail">{{item.last_name}}</span>
                                    </div>
                                    <div class="col-md-3">

                                        <span class="detail">{{item.email}}</span>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="col-md-12">Showing {{ getPageCount }} of {{ meta.totalItems }} Records</div>
                            <div class="col-xs-12 col-12 ">
                                <pagination [totalItems]="meta.totalItems" [itemsPerPage]="pageSize" [maxSize]="5" [(ngModel)]="currentPage" (pageChanged)="pageChanged($event)"></pagination>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>